# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
sample/cmdlog.log
sample/config/alice.json
sample/config/mary.json
sample/config/mswallet.json
sample/zwallet
zwallet
*.log
zwallet

